.container {
    width: 50vw;
    display: flex;
    flex-direction: column;
    background-color: cyan;
    font-size: 2em;

    label {
        margin-left: 5px;
    }
}

.taskList {
    height: 30vh;
    border: 1px solid black;
}

.task {
    border: 1px solid gray;
    margin: 5px;
    padding-left: 5px;
    font-size: inherit;

    input {
        height: 25px;
        width: 25px;
    }
}

.addTaskControls {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin-top: 5px;
}

.addTaskControls > input {
    flex-grow: 4;
    font-size: inherit;
}

.addTaskControls > button {
    flex-grow: 1;
    font-size: inherit;
}